/* Specific btn colours used in these community pages */
._block a.btn.-green {
	color: #fff;
	background-color: #82b440;
}
._block a.btn.-white {
	color: #82b440;
	background-color: #fff;
}

._block a.btn.-white:hover,
._block a.btn.-green:hover {
	color: #fff;
	background-color: #577929;
}

/* -----------------------------------------------------------------------------------------------------------------

	community // stories

----------------------------------------------------------------------------------------------------------------- */

._block.stories {
	color: #454545;
	background-color: #fff;
}
._block.stories .alt,
._block.stories a {
	color: #454545;
}

.stories-intro {
	text-align: center;
}
.stories-intro .heading {
	color: #82b440;
	font-size: 2.6em;
}

.story-blocks {
	@extend %group; // clear floats
	text-align: center;
}

.story-block {
	margin-bottom: 1.5em;
	display: inline-block;


	.heading {
		position: absolute;
		color: #fff;
		width: 100%;
		left: 0;
		top: 40%;
		font-size: 1.5em;
		margin: 0;
		padding: 0 1.5em;
		box-sizing: border-box;
	}

	&:hover .story-image img {
		opacity: 0.9;
	}
}
.story-image {
	background: #000;
	position: relative;
	margin-bottom: 0.5em;

	img {
		opacity: 0.5;
		max-width: 100%;
		@include transition(opacity 0.3s);
	}

}

.story-location,
.story-description {
	display: block;
}
.story-description {
	font-size: 0.8em;
}
.story-location {
	@include custom-font;
	font-size: 0.9em;
}

@include respond-min( $multi-column, legacy ){
	.story-block {
		width: 30%;
		margin: 1.666%;
		margin-bottom: 1em;
		display: block;
		float: left;

		.heading {
			padding: 0;
		}
	}
}


/* -----------------------------------------------------------------------------------------------------------------

	community // meetups

----------------------------------------------------------------------------------------------------------------- */

._block.meetups {
	padding-bottom: 0;

	.feature-image {
		padding-bottom: 100%;
	}
	.btn {
		margin: 0;
	}

}

/* Hall of fame */
._block.meetups-hof {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;

	.heading {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0.6em 0.6em 0;
	}
}

.slider.-meetups-hof-slider {
	.flex-control-nav {
		left: 50%;
		margin-left: -42px;
	}

	.flex-control-wrapper {
		padding-top: 3em;
	}
}

.hof-profiles {
	@extend %group; // clear floats
	margin-left: -0.75%;
	margin-right: -0.75%;

	a {
		font-size: 0.9em;
	}
}


.profile-block {
	width: 30%;
	margin: 0.75%;
	float: left;

	text-align: center;
	font-size: 0.8em;

	.media,
	.media img {
		border-radius: 4.6em;
	}

	.media img {
		width: 9.2em;
		height: 9.2em;
	}
}


/* Hosting */
._block.meetups-hosting .feature-image {
	padding-bottom: 99%;
}



/* Howto */
._block.meetups-howto {
	padding-top: 4em;
	padding-bottom: 4em;

	.block-entry {
		max-width: 50em;
	}
}

.meetups-howto-items,
.meetups-howto-items li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.meetups-howto-items li {
	margin-bottom: 1.5em;
	display: block;
	@extend %group; // clear floats
}

.meetups-howto-items .icon {
	float: left;
	background-color: #9fcd5c;

	border-radius: 4em;
	width: 4em;
	height: 4em;
	margin-right: 1em;

	i {
		position: relative;
		color: #fff;
		font-size: 2em;
	}
}
.meetups-howto-items {

	.heading {
		padding-top: 0.5em;
		font-size: 1.2em;
	}
	p {
		margin-top: 0;
		padding-left: 5em;
	}

	// icons
	.fa-plus {
		left: 0.6em;
		top: 0.58em;
	}
	.fa-comment {
		left: 0.52em;
		top: 0.5em;
	}
	.fa-bullhorn {
		left: 0.5em;
		top: 0.55em;
	}
	.fa-magic {
		left: 0.55em;
		top: 0.6em;
	}
	.fa-image {
		left: 0.45em;
		top: 0.6em;
	}
	.fa-refresh {
		left: 0.58em;
		top: 0.55em;
	}
}



.meetups-apply {
	padding-bottom: 6em;

	.block-secondary {
		padding-top: 2.5em;

		.heading {
			font-size: 1.2em;
			margin-top: 0;
			margin-bottom: 2.5em;
			color: #757575;
		}
	}
}


.meetups-guidelines {
	font-size: 0.9em;
}
.meetups-guidelines,
.meetups-guidelines li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.meetups-guidelines li {
	padding-left: 2em;
	background: url(images/envato-icon.svg) 0 0.4em no-repeat;
	margin-bottom: 0.4em;
	min-height: 2em;
}

